/* You can add global styles to this file, and also import other style files */

html,
body {
    background: #27205b;
    color: #fff;
    font-family: sans-serif;
}

.container {
    width: 600px;
    margin: 70px auto;
}

.holder {
    background: #1e1a42;
    padding: 0px;
    float: left;
    width: 100%;
}